<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "MyCity", root_path, class: "navbar-brand" %>
    </div>

    <ul class="nav navbar-nav">
      <li class="dropdown">
        <% if current_user %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Действия<span class="caret"></span></a>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to "Категории", categories_path %></li>
          <li><%= link_to "Сообщения", messages_path %></li>
          <li>
            <%= link_to 'Админ панель',  admin_roles_path if current_user && current_user.admin? %>
          </li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "Регистрация", new_user_invitation_path if current_user && current_user.admin? %></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" id="user_actions">
      <% if user_signed_in? %>
        <li><%= link_to current_user.name, edit_user_registration_path(current_user) %></li>
        <li><%= link_to 'Выход', destroy_user_session_path if current_user %></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Все", root_path %></li>
        <li><%= link_to "Ожидают модерации", messages_path(status: :for_moderation) %></li>
        <li><%= link_to "Выполненные", messages_path(status: :done) %></li>
        <li><%= link_to "Актуальные", messages_path(status: :actual) %></li>
        <li><%= link_to "Неактуальные", messages_path(status: :not_relevant) %></li>
      <% end %>
      <li><%= link_to image_tag("rss.png", :alt => "rss feed", size: "20x20"), rss_index_path %></li>
      <li style="visibility: hidden;">Divider</li>
    </ul>
  </div>
</nav>
