<div class="row">
  <div class="col-md-12">
    <h2>
      <%= @title %>
    </h2>
    <hr />
  </div>
  <div>
    <table class="table table-striped">
      <tr>
        <th>Описание</th>
        <th>Адрес</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
      <% @messages.each_with_index do |message, index| %>
        <tr id="message_<%= index %>">
          <td><%= message.body.truncate(30, separator: ' ') %></td>
          <td><%= message.address %></td>
          <td><%= I18n.t :"message_status.#{message.status}" %></td>
          <td><%= link_to "Редактировать", message_path(message.id), class: "btn btn-md btn-success" %></td>
        </tr>
      <% end %>
    </table>
    <%= paginate @messages %>
  </div>


</div>

