<script src="//maps.google.com/maps/api/js?key=AIzaSyBRkajFk38d_24oT0mo8rkMWb1_fJHSMW8"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB --> <!-- only if you need custom infoboxes -->

<div class="row my-4">
  <% unless @message.latitude.nil? && @images.count == 0 %>
    <div class="col-md-12">
      <div class="fotorama col-lg-6" data-nav="thumbs" data-loop="true" data-width="600" data-max-width="100%" data-allowfullscreen="true">

          <%= image_tag("medium_default.jpg") if @images.count == 0 %>
          <% unless @images.count == 0 %>
            <% @images.each do |image| %>
              <%= image_tag(image.image_url(:medium)) %>
            <% end %>
          <% end %>
      </div>

      <div class="col-lg-6" style="display: flex; flex-direction: row; justify-content: space-between;">
        <div style='width: 600px;'>
          <div id="map" style='width: 540px; height: 324px;'></div>
        </div>
      </div>
    </div>
  <% end %>
<div class="col-md-12">
  <div class="col-lg-6">
    <div class="message-body">
      <hr>
      <h2 class="card-title"><b>Описание: </b></h2>
      <h2><%= @message.body %></h2>
    </div>
  </div>

  <div class="col-lg-6">
    <hr>
    <h2>Статус: <b><%= I18n.t :"message_status.#{@message.status}" %></b></h2>
    <br />
    <div>
      <%= render partial: 'messages/change_status', locals: { message: @message } %>
    </div>
    <br />
    <hr>
    <h2>Категория: <b><%= @message.category.title %></b></h2>
    <br />
    <div>
      <%= render partial: 'messages/change_category', locals: { message: @message } %>
    </div>
    <br />
    <hr>
    <%= link_to 'Удалить сообщение', archiving_messages_path(@message), method: :post, class: 'btn btn-danger' %>
  </div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {mapTypeId: 'hybrid'}, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
    });
</script>
